.selector {
  opacity: 0;
  transform: translateY(-10px);
  /* pointer-events: none; */
  transition: all 0.3s ease;
}

.show {
    width: 100%;
  opacity: 1;
  transform: translateY(0);
  /* pointer-events: auto; */
  transition: all 0.3s ease;
}

.hide {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}